{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Boston crime heatmap</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js"></script>
    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
{#    <script type="text/javascript" src="{%static "Police_Districts.geojson"%}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <style>
      #map {
        width: 1000px;
        height: 700px;
        border: 2px solid black;
        z-index: 0;
      }

.info {
padding: 6px 8px;
font: 14px/16px Arial, Helvetica, sans-serif;
background: white;
background: rgba(255,255,255,0.8);
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
}

.legend {
background-color: white;
line-height: 25px;
color: #555;
width: auto;
}
.legend i {
width: 18px;
height: 18px;
float: left;
margin-right: 8px;
opacity: 0.7;
}
      #add_new_data{
    position: absolute;
    top: 30px;
    right: 10px;
    width: 400px;
    height: 150px;

}

        #add_forms {
    position: absolute;
    top: 210px;
    right: 10px;
    width: 400px;
    height: 150px;

}

        #types_forms {
    position: absolute;
    top: 430px;
    right: 10px;
    width: 400px;
    height: 150px;

}
        select {
    width: 40%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
        table{
            border: 1px;
        }
</style>


</head>

<body>

<div id="add_new_data" >this is reserved for adding new element

</div>


<div id="add_forms" >
<canvas id="myChart1"></canvas>
</div>

<div id="types_forms" >
   <canvas id="myChart2"></canvas>



</div>
<div id="map" >


</div>

<script>

function getColor(d) {
    return d > 4500 ? '#800026' :
           d > 3800  ? '#BD0026' :
           d > 3000  ? '#E31A1C' :
           d > 2200  ? '#FC4E2A' :
           d > 1500   ? '#FD8D3C' :
           d > 700   ? '#FEB24C' :
           d > 300   ? '#FED976' :
                      '#FFEDA0';
}


function function_style(feature) {
    return{
    fillColor: getColor(feature),
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.7



};}
    var highlight = {
        'fillColor': 'yellow',
        'weight': 2,
        'opacity': 1
    };

// Action for each feature of the choropleth




//start map
var map = L.map('map',{
    preferCanvas: true
}).setView([ 42.329268, -71.070950], 12);
map.doubleClickZoom.disable();
//add title(base)layer
{#function onMapClick(e) {#}
{#    alert("You clicked the map at " + e.latlng);#}
{#map.on('click', onMapClick);#}
var ps_Icon = L.icon({
    iconUrl: "{%static "Police_Station.svg"%}",


    iconSize:     [38, 95], // size of the icon
    // point from which the popup should open relative to the iconAnchor
});



var osm=new L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',{
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
             maxZoom:100,
            minZoom:0.5}).addTo(map);




//read crime location and police station from django view, from daatbase
var crime_location=[
    {%for locate in location%}
        {%if not forloop.first%},
        {%endif%}
            {
            latitude:"{{locate.latitude}}",
            longtitude:"{{locate.longtitude}}",
            district:"{{ locate.district }}"

            }
    {%endfor%}
    ];

var crime_time=[
    {%for ctime in IncidentTime%}
        {%if not forloop.first%},
        {%endif%}
            {
            datetime:"{{ctime.datetime}}",
            dayofweek:"{{ctime.dayofweek}}",
            offense_code:"{{ ctime.offense_code }}"

            }
    {%endfor%}
    ];


var ps_locations=[
    {%for ps_locate in ps_location%}
        {%if not forloop.first%},
        {%endif%}
            {
            pid:"{{ ps_locate.pid }}",
            latitude:"{{ps_locate.latitude}}",
            longtitude:"{{ps_locate.longtitude}}",
                street:"{{ ps_locate.street }}",
                zipcode:"{{ ps_locate.zipcode }}"
            }
    {%endfor%}
    ];
//get the count of crime according to district using map reduce
const grouped = crime_location.reduce((groups, cur) => {
    const key = cur.district;

    groups[key] = (groups[key] || 0) + 1;

    return groups;
}, {});

const result = Object.keys(grouped).map(key => ({district: key.trim(), count: grouped[key]}));


const grouped_dayofweek = crime_time.reduce((groups, cur) => {
    const key = cur.dayofweek;
    if (key.trim()!=""){
    groups[key] = (groups[key] || 0) + 1;
    }


    return groups;
}, {});

const result_day = Object.keys(grouped_dayofweek).map(key => ({dayofweek: key.trim(), count: grouped_dayofweek[key]})).sort((a, b) => a.count - b.count );
{#console.log(result_day);#}
function getMonthfromKey(key){
var arr = key.split(",")[0].substring(0,3);
{#console.log(arr);#}
return arr


}

const grouped_month = crime_time.reduce((groups, cur) => {

    {#console.log(cur.datetime);#}
    const key = getMonthfromKey(cur.datetime);
    if(!key.includes("Non")){
    groups[key] = (groups[key] || 0) + 1;
    }


    return groups;
}, {});

const result_month = Object.keys(grouped_month).map(key => ({datetime: key.trim(), count: grouped_month[key]})).sort((a, b) => a.count - b.count );
{#console.log(result_month);#}
{##}
{#console.log(result_day);#}
//place circle markers of crime on layer, if you want see result, uncomment below
{#for(var i=0;i<crime_location.length;i++) {#}
{##}
{#    if (crime_location[i].latitude != "None" && crime_location[i].longtitude != "None") {#}
        {#console.log(crime_location[i].latitude, crime_location[i].longtitude);#}
{#        marker = new L.circleMarker([crime_location[i].latitude, crime_location[i].longtitude]).addTo(map);#}
        {#console.log(crime_location[i].district)#}
{#    }#}

{#console.log(result_month);#}
{#var month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];#}
{#var month_crime_rate = [];#}
{##}
{#for (var i=0;i<month.length;i++){#}
{#    if (month[i]==result_month.datetime){#}
{#        month_crime_rate.push()#}
{#    }#}

{#    console.log(Object.values(Object.values(result_month).count));#}
{#console.log(result_month.keys());#}

var month_name=[];
var month_rate=[];
var dayofweek_name=[];
var dayofweek_rate=[];

for (var ii=0;ii<result_month.length;ii++){
    month_name.push(result_month[ii].datetime);
    month_rate.push(result_month[ii].count)
}
for (var jj=0;jj<result_day.length;jj++){
    dayofweek_name.push(result_day[jj].dayofweek);
    dayofweek_rate.push(result_day[jj].count)
}


var ctx1 = document.getElementById("myChart1");
var myChart1 = new Chart(ctx1, {
  type: 'line',
  data: {
    labels: month_name,
    datasets: [
      {
        data: month_rate,
          label:"crime rate of each month",
          borderColor:"#f16de5"

      }
    ]
  }
});

var ctx2 = document.getElementById("myChart2");
var myChart2 = new Chart(ctx2, {
  type: 'line',
  data: {
    labels:dayofweek_name,
    datasets: [
      {
        data: dayofweek_rate,
          label:"crime rate of each days",
          borderColor:"#f16de5"

      }
    ]
  }
});

{#document.getElementById('query_time_forms').appendChild(table1);#}
{#document.getElementById('query_time_forms').appendChild(table2);#}

//place markers on police station on layer
for(var i=0;i<ps_locations.length;i++) {

    if (ps_locations[i].latitude != "None" && ps_locations[i].longtitude != "None") {
        {#console.log(ps_locations[i].latitude,ps_locations[i].longtitude);#}
        var popupContent ="<p><b>department id: </b>"+ ps_locations[i].pid +
            "</br>zipcode: "+ ps_locations[i].zipcode +
            "</br>street: "+ ps_locations[i].street +'</p>';
        {#console.log(popupContent);#}
        marker1 = new L.Marker([ps_locations[i].longtitude, ps_locations[i].latitude],{icon:ps_Icon});
        marker1['pop'] = popupContent;

       marker1.addTo(map).on('click',function(e){
           this.bindPopup(this['pop'])
       });

    }
}
$.getJSON("{%static "Police_Districts.json"%}", function (json) {
    var geojson = L.geoJson(json, {


        onEachFeature: function (feature, layer) {

            {#console.log(feature);#}
            var count = 0;
            for (var i=0;i<result.length;i++){
                if (result[i].district===feature.properties.DISTRICT){
                    count = result[i].count;
                }
            }

            layer.setStyle(function_style(count));

            var popupContent =
            "<p><b>District: </b>"+ feature.properties.DISTRICT +
            "</br>ID: "+ feature.properties.OBJECTID +
                "</br>crime count: "+ count+'</p>';
                {#"</br>city name:"+feature.properties.city+'</p>';#}
            layer.on('click',function(e){
                layer.bindPopup(popupContent);

            });
            layer.on('mouseover', function (e) {

                this.setStyle({
                    color: '#D6EAF8',
                    weight: 3,
                    opacity: 0.6,
                    fillOpacity: 0.65,
                    fillColor: '#2980B9'
                });
            });
            layer.on('mouseout', function (e) {
                this.setStyle(function_style(count));
            });

        }
    }).addTo(map);
});

var baseMaps = {
    "Open Street Map": osm
};

//Add layer control
{#var legend = L.control({position: 'bottomright'});#}

var legend = L.control({position: 'bottomright'});

legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend'),

        grades = [0,300,700,1500,2200,3000,3800,4500],
        labels = [];
    // loop through our density intervals and generate a label with a colored square for each interval
    for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
            '<i style="background:' + getColor(grades[i]+1) + '"></i> ' +
            grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
    }

    return div;
};


legend.addTo(map);
L.control.layers(baseMaps).addTo(map);
legend.addTo(map);
</script>
</body>
</html>